$mainColor: #DC780B;
$paragraphColor: #150C01;
$sectionMargin: 110px;
$titleFont: 'Philosopher';

@mixin text-settings($fontSize, $lineHeight,  $fontWeight: normal, $opacity: 1) {
  line-height: $lineHeight+px;
  font-size: $fontSize+px;
  font-weight: $fontWeight;
  opacity: $opacity;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", SansSerif, serif;
  color: #150C01;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  border-radius: 5px;
  background-color: $mainColor;
  padding: 13px 30px;
  color: #fff;
  @include text-settings(16, 19);

}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section-title {
  font-family: $titleFont, sans-serif;
  color: $paragraphColor;
  @include text-settings(33, 35, bold)
}

.section-subtitle {
  color: $mainColor;
  @include text-settings(16, 19, 500);
  letter-spacing: .2em;
  text-transform: uppercase;
}

.section-text {
  color: $paragraphColor;
  @include text-settings(16, 24, $opacity: .7);
}

.pop-up {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  &__bg {
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
  }

  &__close {
    position: absolute;
    right: 10px;
    background-color: transparent;
  }
  &__content {
    position: relative;
    transform: translateX(-200px);
    width: 200px;
    padding: 20px;
    background-color: white;
    height: 100%;
    transition:  .3s;
  }
  &__list {
    margin-top: 20px;
  }
  &__item {
    margin: 5px 0;
  }
}

.header {
  margin-top: 30px;
  margin-bottom: $sectionMargin;

  &__hamburger {
    display: none;
    width: 30px;
    background-color: transparent;
    span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #150c01;
      margin: 2px 0;
    }
  }
  &__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    margin: 0 20px;
    @include text-settings(16, 19);
    transition: color .3s ease;

    &:hover {
      color: $mainColor;
      cursor: pointer;
    }
  }

  &__list-item--active {
    color: $mainColor;
  }

  &__content-box {
    display: flex;
  }

  &__content {
    margin: auto 0;
  }

  &__img {
    object-fit: cover;
    width: 40%;
    z-index: -1;
  }

  &__title {
    width: 555px;
    @include text-settings(49, 58, bold);
    display: inline-block;
    margin-bottom: 40px;

  }

  &__text {
    color: $paragraphColor;
    @include text-settings(16, 24, 500, 0.7);
    display: inline-block;
    margin-bottom: 50px;
  }

  &__button-2 {
    margin-left: 30px;
    color: $mainColor;
    border: 1.5px solid $mainColor;
    background-color: rgba($mainColor, .1);

  }
}

.features {
  margin-bottom: $sectionMargin;

  &__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }


}

.feature {
  margin: 0 45px;
  text-align: center;

  &__img {
    width: 45px;
    height: 45px;
    margin-bottom: 35px;
  }

  &__title {
    font-family: $titleFont;
    @include text-settings(25, 24, bold);
    margin-bottom: 15px;
  }

}

.about {
  margin-bottom: $sectionMargin;
  padding: 0 10px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    max-width: 50%;
    object-fit: cover;
    margin-right: 100px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;
    line-height: 41px;
  }

  &__text {
    margin-bottom: 30px;
  }
}


.menu {
  margin-bottom: $sectionMargin;
  padding: 0 10px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 750px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 360px;
    margin-bottom: 30px;

    &-img {
      margin-bottom: 15px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      @include text-settings(18, 24, bold);
      margin-bottom: 20px;
    }

    &-text {
      padding-left: 25px;
      margin-bottom: 20px;
    }

    &-settings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
    }

    &-button {
      padding: 10px 11px;
    }
  }

  &__button {
    background-color: rgba(#E5E5E5, .1);
    color: $mainColor;
    margin-top: 37px;
    border: 1px solid rgba($mainColor, .1);
    border-radius: 5px;
  }
}

.take-away {
  margin-bottom: $sectionMargin;

  &__inner {
    display: flex;
    padding: 0 10px;

  }

  &__content {
    flex-basis: 555px;
    margin-top: 165px;
    margin-right: 200px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    display: inline-block;
    margin-bottom: 40px;
    @include text-settings(16, 24, $opacity: .7)
  }

  &__market-button--app-store {
    margin-right: 30px;
    background-image: url("../images/app-store-market.png");
    width: 163px;
    height: 48px;
    border-radius: 5px;
  }

  &__market-button--play-market {
    background-image: url("../images/google-play-market.png");
    width: 179px;
    height: 48px;
    border-radius: 5px;
  }

  &__image {
    width: 325px;
    height: 650px;

  }
}

.reviews {
  margin-bottom: 120px;

  &__inner {
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
  }

  &__subtitle {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 23px;

  }

  &__text {
    display: inline-block;
    margin-bottom: 73px;
  }

  &__button {
    margin: auto 20px;
    background-color: transparent;
  }

  &__button--disabled {
    opacity: .5;
  }

  &__slider {
    display: flex;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-list {
    display: flex;
    max-width: 700px;
    transition: transform .4s ease;
  }

  &__slider-item {
    flex: 0 0 100%;
    margin: 0 auto;
  }

  &__slider-image {
    margin-bottom: 40px;
  }

  &__slider-text {
    @include text-settings(16, 24);
    color: #000;
    display: block;
    margin: 0 auto 20px;
    max-width: 506px;

  }

  &__slider-rating {
    margin-bottom: 32px;
  }

  &__slider-author {
    @include text-settings(16, 19);
    text-transform: uppercase;
    color: #000;
    margin-bottom: 6px;

  }

  &__slider-activity {
    @include text-settings(12, 14);
    text-transform: uppercase;
    color: #000;
  }

}

.contacts {
  background-color: #fbf1e7;
  &__inner {
    padding: 115px 10px 117px;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
    height: 74px;
  }
  &__input{
    flex-basis: 600px;
    padding: 32px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    &::placeholder {
      @include text-settings(16, 41, $opacity: .5);
    }
  }
  &__button{
    flex-basis: 150px;
    background-color: $mainColor;
    border-radius: 10px;
    padding: 30px 57px;
    @include text-settings(18, 10, 500);
    color: #fff;
  }
}

.footer {
  background-color: #252525;

  &__inner {

    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    justify-content: space-between;
    padding: 137px 10px 104px;
    color: #fff;
  }

  &__col {
    margin: 10px 20px;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    @include text-settings(14, 16, $opacity: .7)
  }

  &__item {

    @include text-settings(14, 16, $opacity: .7)
  }

  &__item + &__item {
    margin-top: 17px;
  }

  &__title {
    margin-bottom: 25px;
    @include text-settings(18, 20);
  }

  &__social {
    display: flex;
    margin-top: 25px;
  }

  &__social-item {
    margin-right: 10px;
    cursor: pointer;
  }
}


@media (max-width: 960px) {
  .section-title {
   @include text-settings(25, 35, bold);
    margin-bottom: 10px;
  }
  .take-away__content {
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .header__title {
    font-size: 45px;
    width: 100%;
  }
  .header__text {
    font-size: 20px;
  }
  .header__content-box {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__content {
    text-align: center;
  }
  .about__img {
    margin-right: 50px;
  }
}

@media (max-width: 700px) {
  .header__list {
    display: none;
  }
  .header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   .header__navigation {
     .button {
       width: 200px;
     }
   }
  .features__list {
    margin-top: 10px;
    flex-direction: column;
  }
  .feature {
    margin: 10px auto;
    width: 70%;
  }
  .about__inner {
    flex-direction: column;
  }
  .about__content {
    text-align: center;
    margin-top: 20px;
    width: 70%;
  }
  .about__img {
    margin-right: 0;
  }
  .about__text {
    margin-bottom: 10px;
  }
  .take-away__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .take-away__content {
    margin-top: 20px;
    text-align: center;
    width: 70%;
    flex-basis: 0;
  }
  .take-away__image {
    width: 20%;
    height: auto;
  }
  .reviews__text {
    margin-bottom: 10px;
  }
  .reviews__slider-image {
    margin-bottom: 10px;
  }
  .reviews__slider-rating {
    margin-bottom: 10px;
  }
  .contacts__inner {
    padding: 100px 10px;
  }
  .footer__inner {
    padding: 40px 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:nth-child(2n) {
    justify-self: right;
  }
}

@media (max-width: 550px) {
  .section-title {
    margin-top: 5px;
    @include text-settings(20, 20, bold);
  }
  .section-text {
    font-size: 15px;
  }
  .header__img {
    margin-top: 20px;
  }
  .header__title {
    @include text-settings(30, 35, bold);
    margin-bottom: 20px;
  }
  .header__text {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .feature {
    width: 100%;
  }
  .about__content {
    width: 100%;
  }
  .take-away__content {
    width: 100%;
  }
  .take-away__market-button--app-store {
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .contacts__form {
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }
  .contacts__input {
    padding: 15px;
    margin: 10px 0;
  }
  .contacts__button {
    padding: 15px 57px;

  }
}

@media (max-width: 385px) {
  .header__buttons {
    display: flex;
    flex-direction: column;
  }
  .header__button-2 {
    margin: 10px 0;
  }
.menu__item-title {
  margin-bottom: 10px;
}
  .menu__item-img {
    width: 100%;
  }
  .menu__button {
    margin-top: 10px;
  }
  .menu__item {
    margin-bottom: 20px;
  }
  .take-away__market-button--app-store {
    margin-right: 0;
    width: 179px;
    background-size: cover;
  }
  .footer__inner {
    grid-template-columns: 1fr;
  }
  .footer__col:nth-child(2n) {
    justify-self: left;
  }
  .footer__col {
    margin-bottom: 0;
    margin-left: 30%;
  }


}