$mainColor: #DC780B;
$paragraphColor: #150C01;
$sectionMargin: 110px;
$titleFont: 'Philosopher';

@mixin text-settings($fontSize, $lineHeight,  $fontWeight: normal, $opacity: 1) {
  line-height: $lineHeight+px;
  font-size: $fontSize+px;
  font-weight: $fontWeight;
  opacity: $opacity;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", SansSerif, serif;
  color: #150C01;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.button {
  border-radius: 5px;
  background-color: $mainColor;
  padding: 13px 30px;
  color: #fff;
  @include text-settings(16, 19);

  &:hover {
    cursor: pointer;
  }

}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section-title {
  font-family: $titleFont, sans-serif;
  color: $paragraphColor;
  @include text-settings(33, 35, bold)
}

.section-subtitle {
  color: $mainColor;
  @include text-settings(16, 19, 500);
  letter-spacing: .2em;
  text-transform: uppercase;
}

.section-text {
  color: $paragraphColor;
  @include text-settings(16, 24, $opacity: .7);
}

.header {
  margin-left: -20px;
  margin-top: 30px;
  height: 100vh;
  margin-bottom: $sectionMargin;

  &__inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item {
    margin: 0 20px;
    @include text-settings(16, 19);
    transition: color .3s ease;

    &:hover {
      color: $mainColor;
      cursor: pointer;
    }
  }

  &__list-item--active {
    color: $mainColor;
  }

  &__content-box {
    display: flex;
  }

  &__content {
    margin: auto 0;
  }

  &__img {
    object-fit: cover;
    width: 710px;
    position: relative;
    top: -50px;
    z-index: -1;
  }

  &__title {
    width: 555px;
    @include text-settings(49, 58, bold);
    display: inline-block;
    margin-bottom: 40px;

  }

  &__text {
    color: $paragraphColor;
    @include text-settings(16, 24, 500, 0.7);
    display: inline-block;
    margin-bottom: 50px;
  }

  &__button-2 {
    margin-left: 30px;
    color: $mainColor;
    border: 1.5px solid $mainColor;
    background-color: rgba($mainColor, .1);

  }
}

.features {
  padding: 0 10px;
  margin-bottom: $sectionMargin;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }


}

.feature {
  margin: 0 45px;
  text-align: center;

  &__img {
    width: 45px;
    height: 45px;
    margin-bottom: 35px;
  }

  &__title {
    font-family: $titleFont;
    @include text-settings(25, 24, bold);
    margin-bottom: 15px;
  }

}

.about {
  margin-bottom: $sectionMargin;
  padding: 0 10px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 555px;
    object-fit: cover;
    margin-right: 100px;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;
    line-height: 41px;
  }

  &__text {
    margin-bottom: 30px;
  }
}


.menu {
  margin-bottom: $sectionMargin;
  padding: 0 10px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 750px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 360px;
    margin-bottom: 30px;

    &-img {
      margin-bottom: 15px;
    }

    &-title {
      display: flex;
      justify-content: space-between;
      padding: 0 25px;
      @include text-settings(18, 24, bold);
      margin-bottom: 20px;
    }

    &-text {
      padding-left: 25px;
      margin-bottom: 20px;
    }

    &-settings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
    }

    &-button {
      padding: 10px 11px;
    }
  }

  &__button {
    background-color: rgba(#E5E5E5, .1);
    color: $mainColor;
    margin-top: 37px;
    border: 1px solid rgba($mainColor, .1);
    border-radius: 5px;
  }
}

.take-away {
  margin-bottom: $sectionMargin;
  &__inner {
    display: flex;

  }
  &__content {
    flex-basis: 555px;
    margin-top: 165px;
    margin-right: 200px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    display: inline-block;
    margin-bottom: 40px;
    @include text-settings(16, 24, $opacity: .7)
  }
  &__market-button--app-store {
    margin-right: 30px;
    background-image: url("../images/app-store-market.png");
    width: 163px;
    height: 48px;
    border-radius: 5px;
  }
  &__market-button--play-market {
    background-image: url("../images/google-play-market.png");
    width: 179px;
    height: 48px;
    border-radius: 5px;
  }
  &__image {
    width: 325px;
    height: 650px;

  }
}